<h1> Here's All Books </h1>
<%= form_tag books_path, method: :get do %>
    <%= label_tag :search, "Search Books" %>
    <%= text_field_tag :search, params[:search] %>
   <%= submit_tag "search"%>
    <% end %>
<ul>
<% @books.each do |book|%>
    <%= link_to book.title.titleize, book_path(book)  %>
    <% end %>
</ul>

<%= link_to "ADD BOOK", new_book_path, method: :get %>